@page "/"
@using Volo.Abp.MultiTenancy



<button class="btn btn-primary" @onclick="RegisterUser">Register</button>


@code {




    public async Task RegisterUser(){

        var userRegistrationService = new  Demo.UserRegistrationService();


    }
}

